.inputBox {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
}
.descBox {
  width: 90%;
  height: fit-content;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.boxDesign {
  width: 150px;
  height: 150px;
  border: solid green;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  margin-left: 5px;
}
